// 宽高
@mixin w-h($width,$hight) {
  width: $width;
  height: $hight;
}
.query-content{
  margin-bottom: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 15px;
  background-color: #fff !important;
}
.class-col{
  margin: 20px;
}
.class-img-father{
  @include w-h(100%, 200px);
  position: relative;
}
.class-img-father::after{
  content: 'dsfasfsdfsdfsdfsafafs';
  position: absolute;
  top: 0;
  left: 0;
  @include w-h(100%, 200px);
  background-color: black;
  border-radius: 10px 10px 0 0;
  opacity: 0.05;
}
.class-img{
  @include w-h(100%, 200px);
}
.class-fm{
  @include w-h(250px, 280px);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.5s;
  &-name{
    height: 40px;
    line-height: 40px;
  }
  &-state{
    position: absolute;
    top: 0;
    left: 0;
    @include w-h(100%, 200px);
    border-radius: 10px 10px 0 0;
    color: #00bfff;
    font-size: 24px;
    margin: 10px 20px;
  }
  &-info{
    font-size: 16px;
    margin:5px 20px;
    display: flex;
    justify-content: space-between;
  }
}
.class-fm:hover{
  transform: scale(1.1);
}
.ml-20{
  margin-left: 20px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-22{
  font-size: 22px;
}