.mt-40{
  margin-top: 40px;
}
.data-flex{
    margin-bottom: 20px;
}
.exam-chart{
  display: flex;
}
.mubiao{
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgSrc{
    width: 200px;
  }
}
.query{
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 40px;
}