// 工具类
.ml-20{
  margin-left: 20px;
}
.data-flex{
  display: flex;
  
}
.table-box{
  border: 1px solid #bfbfbf;
}
.chart-block{
  min-height: 300px;
}
.block-line{
  box-shadow: 0 1px 6px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 15px;
  background-color: #fff !important;
}